.home {
  position: absolute;
  top: 400px;
  right: 30%;
  font-weight: 300;
  color: #eee;
}

.home {
  font-size: 80px;
  transform: skewY(+6deg);
}

.home h1 {
  font-weight: 700;
  font-size: 60px;
}

.typewriter {
  font-size: 50px;
  font-weight: 700;
}

/* --- Home background --- */
.background {
  background: linear-gradient(135deg, #410a84, #31a7bb);
  box-shadow: 0 0 50 rgb(60 117 162 / 40%);
  height: calc(100% + 11vh);
  position: absolute;
  top: -20vh;
  transform: skewY(-6deg);
  width: 100%;
}
/* 
.projects-background {
  height: calc(120% + 12vh);
  position: absolute;
  top: 1600px;
} */

/* .particles,
.particles-project {
  height: 100%;
} */

/* .particles {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 0;
  left: 0;
} */

/* --- Smartphone --- */ 
@media (max-width: 479px) {
  .home {
    right: 24%;
    text-align: center;
  }
}

/* --- Smartphone(width) --- */
@media (max-width: 599px) {
  .home {
    right: 20%;
    text-align: center;
  }

  .home h1,
  .name {
    font-size: 40px;
  }

  .typewriter {
    font-size: 30px;
  }
}
