.home {
  position: absolute;
  top: 200px;
  right: 30%;
  font-weight: 300;
  color: #eee;
}

.home {
  font-size: 80px;
}

.home h1 {
  font-weight: 700;
  font-size: 60px;
}

.typewriter {
  font-size: 50px;
  font-weight: 700;
}

/* --- Smartphone --- */ 
@media (max-width: 479px) {
  .home {
    right: 24%;
    text-align: center;
  }
}

/* --- Smartphone(width) --- */
@media (max-width: 599px) {
  .home {
    right: 20%;
    text-align: center;
  }

  .home h1,
  .name {
    font-size: 40px;
  }

  .typewriter {
    font-size: 30px;
  }
}
