/* ----------project---------- */
.projects {
  padding: 0 auto;
}

.projects-outline {
  transform: skewY(+6deg);
  position: absolute;
  top: 100px;
  padding: 0 2%;
}

.projects h1 {
  margin-bottom: 4%;
  color: #fff;
} 

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 8%;
}

.card {
  max-width: 30%;
  margin-bottom: 2%;
  transform: translateX(20%) rotate(1turn);
}

.card-header {
  display: flex;
  justify-content: space-between;
  padding: 3% 3% 2% 2%;
}

.card-header h2 {
  font-size: 22px;
  border-bottom: solid 3px #31a7bb;
}

.card p {
  display: inline-block;
  background-color: #dcd8d8;
  margin: 0;
  padding: 1% 3% 1% 6%;
  position: absolute;
  right: 0;
  bottom: 0;
  white-space: nowrap;
  clip-path: polygon(20px 0%, 100% 0%, 100% 100%, 0% 100%);
  width: fit-content;
  font-weight: 600;
  font-size: 18px;
}

.project-images {
  width: 80%;
  height: auto;
  padding: 2%;
  margin: 0 auto 2%;
}

.project-image {
  background-color: #fff;
}

.card-link {
  white-space: nowrap;
}
.card-link a {
  margin: 0 2%;
}

/* --- Project background --- */
.projects-background {
  background: linear-gradient(135deg, #410a84, #31a7bb);
  box-shadow: 0 0 50 rgb(60 117 162 / 40%);
  height: calc(100% + 11vh);
  position: absolute;
  top: -20vh;
  transform: skewY(-6deg);
  width: 100%;
}

.projects-background {
  height: calc(100% + 12vh);
  position: absolute;
  top: 1700px;
}

/* --- Smartphone --- */ 
@media (max-width: 479px) {
  .projects {
    padding: 0;
    top: 2760px;
    width: 98%;
    margin: 0 auto;
  }

  .project-container {
    display: block;
  }

  .project-image {
    width: 70%;
    margin: 12% auto 4%;
    background-color: rgb(248, 237, 223);
  }

  .my-project-card {
    width: 96%;
    margin: 0 auto;
  }

  .tech-skills span {
    margin: 0 1%;
  }
}



/* --- Smartphone(width) --- */
@media screen and (min-width:480px) and (max-width: 599px) {
  .projects {
    top: 2860px;
    padding: 0;
  }

  .project-container {
    display: block;
    /* overflow-x: hidden; */
    width: 96%;
    /* margin: 0 auto;; */
    padding: 0 2%;
  }

  .project-image {
    width: 80%;
    margin: 12% auto 4%;
  }

  .my-project-card {
    width: 96%;
    margin: 0 auto;
  }

  .my-project-card p {
    padding: 0 1%;
    text-align: left;
  }

  .tech-skills span {
    margin: 0 1%;
  }
}
/* --- Tablet ---*/
@media (min-width: 768px) {
  
}