@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


* {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 45px;
  margin-bottom: 30px;
  text-align: center;
}

h2,
h3 {
  font-size: 45px;
  text-align: center;
}

p {
  font-size: 20px;
}

hr {
  background-image: linear-gradient(90deg,transparent,rgba(0,0,0,.75),transparent);
  border-bottom: 0;
  height: 1px;
}

body {
  font-family: 'Nunito', sans-serif;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.main {
  text-align: center;
}

.navbar-brand {
  display: flex;
}

.logo {
  height: auto;
  width: 30%;
}

/* ----------header---------- */
.navbar-inner {
  position: fixed;
  height: 45px;
  width: 100%;
  padding-top: 20px;
  background-color: rgba(107,107, 206, 0.45);
  box-shadow: -5px 10px 10px 10px rgba(107,107, 206, 0.45);
  padding: 1% 2% 0;
}

.header-link-name:hover {
  opacity: .5;
  text-decoration: underline;
}

.dropdown-toggle::after {
  color: rgb(255 255 255);
  position: relative;
  top: 4px;
}

.dropdown-menu {
  position: absolute;
  right: 1px;
}

.btn-link:hover {
  color: rgba(0,0,0,.55);
  opacity: .5;
}

.btn-check:focus+.btn, .btn:focus {
  box-shadow: none;
}

.language-btn {
  padding: 0;
  margin-left: 10px;
}

.language-btn:hover {
  opacity: .5;
}


/* ----------footer---------- */
.footer {
  margin-top: 60px;
  position: absolute;
  top: 4900px;
  width: 100%;
  /* height: calc(15% + 12vh); */
}

.particles-footer {
  height: 50%;
}

.footer-background {
  background: linear-gradient(90deg,#410a84,#31a7bb);
  box-shadow: 0 0 50 rgb(60 117 162 / 40%);
  height: calc(50px + 12vh);
  position: absolute;
  left: 0;
  transform: skewY(-5deg);
  width: 100%;
}

.footer-background2 {
  color: #fff;
  background: linear-gradient(90deg, #410a84, #31a7bb);;
  height: calc(40% + 12vh);
  padding: 140px 0 20px;
  position: relative;
  top: 76px;
}


/* ---------RESPONSIVE---------- */
@media (max-width: 599px){
  h1,
  h2,
  h3 {
    font-size: 40px;
  }

  .footer {
    top:5900px;
  }
}
/* @media (max-width: 970px){
  
}
@media (max-width: 900px) {}
@media (max-width: 900px) and (max-height: 1000px) {}
  @media (max-width: 1050px) and (min-height: 900px) {ipda}
//sofia's

@media(max-width: 850px){
  
}

@media (max-width: 700px){
  
}

@media(max-width: 600px){
  

} */