.background {
  background: linear-gradient(135deg, #410a84, #31a7bb);
  box-shadow: 0 0 50 rgb(60 117 162 / 40%);
  height: calc(100% + 12vh);
  position: absolute;
  top: -12vh;
  transform: skewY(-5deg);
  width: 100%;
}

.projects-background {
  height: calc(230% + 12vh);
  position: absolute;
  top: 2240px;
}

.particles, .particles-project {
  height: 100%;
}

/* --- Smartphone --- */
@media (max-width: 479px) {
  .background {
    height: 104%;
  }

  .projects-background {
    height: 310%;
    top: 2700px;
  }
}

/* --- Smartphone(width) --- */
@media screen and (min-width:480px) and (max-width: 599px) {
  .projects-background {
    top: 2800px;
    /* width: 100%; */
  }

  .projects-background {
    /* height: calc(310% + 12vh); */
  }
}

/* --- Tablet ---*/
@media (min-width: 768px) {
  
}